{% extends "index.html" %}
{% block content %}
    <div class="container" id="contact-page">
        <h1>Lets Help the Future of New York!</h1>
        <h2>Get in touch!</h2>
        <p id="contact-content">We want you to get in touch with us. Let us know what education is like in your local area, and how you think it
            could be improved.<br>We want to make New York work for your children, and your children's children, so let us
            know how we can make it better!</p>
    </div>
    <div class="container" id="contact-list">
        <ul style="list-style: none;">
            <li><span class="glyphicon glyphicon-envelope"></span> new_york_edu@example.com</li>
            <li><span class="glyphicon glyphicon-phone-alt"></span> 202-555-0191</li>
            <li><span class="glyphicon glyphicon-map-marker"></span> New York State Office<br>123 West 33rd Street</li>
        </ul>
    </div>
{% endblock %}