{% extends "index.html" %}
{% block content %}
    <div class="container" id="contact-page">
        <div class="row">
            <h1>Lets Help the Future of New York!</h1>
            <h2>Get in touch!</h2>
            <p id="contact-content">We want you to get in touch with us. Let us know what education is like in your local area, and how you think it
                could be improved.<br>We want to make New York work for your children, and your children's children, so let us
                know how we can make it better!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-2 col-xs-10 col-xs-offset-1" id="contact-list">
            <ul style="list-style: none;">
                <li><span class="glyphicon glyphicon-envelope"></span> new_york_edu@example.com</li>
                <li><span class="glyphicon glyphicon-phone-alt"></span> 202-555-0191</li>
                <li><span class="glyphicon glyphicon-map-marker"></span> New York State Office<br>123 West 33rd Street</li>
            </ul>
        </div>
        <div class="col-md-4 col-xs-10 col-xs-offset-1">
            <iframe class="" width="450" height="300" frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?q=new%20york%20state%20offide&key=AIzaSyDF69JPkoSsi0Ifd-yVrcqA08UtzEW0ojg"
                    allowfullscreen></iframe>
        </div>
    </div>

{% endblock %}
