{% extends "index.html" %}
{% block content %}
    <div id="outer" class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <!-- County menu select -->
                    <div class="col-md-3" data-step="1" data-intro="Here you can filter the graphs to show you County
                    data you would like to know about." style="font-weight: normal" data-position="right">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Donation County
                            </div>
                            <div class="chart-stage selector">
                                <div id="county-menu-select"></div>

                            </div>
                        </div>
                    </div>
                    <!-- menu select -->

                    <!-- District menu select -->
                    <div class="col-md-3" data-step="2" data-intro="Here you can filter the graphs to show you District
                    data you would like to know about." style="font-weight: normal" data-position="right">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Donation District
                            </div>
                            <div class="chart-stage selector">
                                <div id="district-menu-select"></div>

                            </div>
                        </div>
                    </div>
                    <!-- menu select -->

                    <!-- Donations Number -->
                    <div class="col-md-3" data-step="3" data-intro="This shows the total amount
                    of school donations."
                         style="font-weight: normal" data-position="right">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Total Number of Donations
                            </div>
                            <div class="chart-stage num-display">
                                <div id="total-donations"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Donations Number -->

                    <!-- Donations USD -->
                    <div class="col-md-3" data-step="4" data-intro="This shows the total amount
                    of school donations in USD."
                         style="font-weight: normal" data-position="right">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Total Amount of Donations in USD
                            </div>
                            <div class="chart-stage num-display">
                                <div id="usd-donations"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Donations USD -->
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <!-- NY Time Chart -->
                    <div id="ny-time-wrapper" class="col-md-12" data-step="5" data-intro="Here is a line graph to show amount
                    of donations between 2010 and 2015. Notice the various peaks and troughs."
                         style="font-weight: normal" data-position="right">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Number of Donations in New York State
                            </div>
                            <div class="chart-stage">
                                <div id="time-chart"></div>
                            </div>
                        </div>
                    </div>
                    <!-- NY Time Chart -->
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <!-- Resource Allocation -->
                    <div class="col-md-12" data-step="6" data-intro="Here we can see how resources are allocated
                        according to metro type. See how the vast majority of donations go to urban areas."
                         style="font-weight: normal" data-position="right">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Resource Allocation by Metro Type
                            </div>
                            <div class="chart-stage">
                                <div id="metro-type-row-chart"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Resource Allocation -->

                    <!-- Subject Allocation -->
                    <div class="col-md-12" data-step="7" data-intro="Here we then can see resource allocation by primary
                        subject area. This shows very high donations to literacy and languages, but low amounts to Health
                        and science, as well as applied learning."
                         style="font-weight: normal" data-position="right">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Resource Allocation by Primary Subject
                            </div>
                            <div class="chart-stage">
                                <div id="subject-area-row-chart"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Subject Allocation -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <!-- Year Selector -->
                    <div class="col-md-12" data-step="8" data-intro="This pie chart shows not only how much
                        was given by year, but acts as a filter as well, just click which year you would like
                        to see"
                         style="font-weight: normal" data-position="right">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Year Selector
                            </div>
                            <div class="chart-stage">
                                <div id="year-selector"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Poverty allocation -->
                    <div class="col-md-12" data-step="9" data-intro="This pie chart is to show the amount given
                        based on a schools poverty level. Like the metro graph, the majority of donations got the highest
                        poverty areas."
                         style="font-weight: normal" data-position="right">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Poverty Allocaiton
                            </div>
                            <div class="chart-stage">
                                <div id="poverty-level-pie-chart"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Poverty allocation -->
                </div>
            </div>

        </div>
    </div>
    <hr>
    <div>
        <p class="small text-muted" id="data-footer">Data visualisation by Henry Curtis
            <br>Data sourced from School Donors
            <br>Assistance from Code Institute</p>
    </div>
{% endblock %}