{% extends "index.html" %}
{% block content %}
    <div id="mission-page">
        <h1>What We Found</h1>
        <div class="col-sm-8 col-sm-offset-2">
            <h3>Key points from the data</h3>
            <div>
                <p><b>Here are some key discussion points we drew from the data.</b></p>
                <ol>
                    <li>Allocation of funds favours highest poverty areas</li>
                    <li>Vast majority of funding to Urban Areas</li>
                    <li>Significant amount of funding to Literacy and Language</li>
                    <li>Applied Learning and Health & Sports lower end of funding</li>
                </ol>
            </div>
        </div>
        <div class="col-sm-8 col-sm-offset-2">
            <h3>What we want to do about it!</h3>
            <div>
                <p></p>
                <ul type="circle">
                    <li>We wanted to start with the good! Plenty of our funding goes to school in high poverty areas.
                    This means more money going to the students who need it! We want a state where you can get the best
                    education, no matter what you economic background. Over the six years we have been receiving school
                    funding, $19M has gone to schools in the highest poverty regions. While this is a step in the
                    right direction, we want to do more! Get more funding into the areas that need it most.
                    We will be setting up incentives for more donations. Events for people to see where the money goes,
                    and encourage to give more, for a better future in New York.</li>
                    <li>The metro area findings correlate with the poverty donation findings. Most of the highest poverty
                    areas are in the ubran areas. This means less donations for suburban and rural areas. Though this
                    correlation is not too concerning, we want to make sure that rural and suburban areas aren't getting
                    left behind, without fair funding, which is why we are committed to ensuring surveys are sent out to
                    more suburban and rural areas, and what their needs are for funding.</li>
                    <li>You may have noticed the disparity in the resource allocations graph. We have a high amount of
                    donations to institutions who specialize in Literacy and Language. Though these are important
                    skills, encouraging a diverse knowledge base is also important. We are currently working with
                    employers all over New York state to see what they look for when hiring. Schools that prioritise
                    Applied Learning, Health & Sports and History & Civics all have received much less donations
                    than other specialised schools, and we want to find out if these are skills employers are looking for.
                    </li>
                    <li>Lastly, we want to make sure your voices are heard! We want to know everything about the area
                    you live and the schools there. Which scholls you feel should have more funcing, schools which don't
                    give the children a fair chance! We want to make our schools the envy of every state!</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}