{% extends "index.html" %}
{% block content %}
    <div class="container" id="home-title">
        <div class="row" id="home-header">
            <h1>Welcome to the future of education of New York state</h1>
        </div>
        <div class="row" id="home-info">
            <p>Education is one of our driving forces on how to make our state great. Protecting our children's
                futures is not only in the interest of our great state, but also for our great country! We want to
                show the raw facts in our school donations data, and where we need to increase funding in the great
                state of New York!</p>
            <a id="home-diploma-img"><img src="{{ url_for ('static', filename='images/diploma-icon.png') }}"></a>
            <p>Take a look at our dashboard tab to view our interactive graphs, so you can see what we've found in
                the data, and what school funding is like in your area. From there take a look at our mission tab, to
                see what we plan to do about it!</p>
        </div>
        <a id="home-seal-img"><img src="{{ url_for ('static', filename='images/seal-of-new-york.png') }}"></a>
    </div>
{% endblock %}