/* Index page */

body {
   background-size: cover;
}

#ny-content {
   padding-top: 50px;
   text-align: center;
   margin: 0;
   height: 100vh;
   width: 100vw;
}

.navbar button {
   margin-top: 10px;
   border-radius: 5px;

}
/* Home page */

#home-title {
   max-width: 700px;
}

#home-info {
   margin: 10px;
}

#home-diploma-img img {
   max-height: 100px;
   margin: 10px;
}

#home-seal-img img {
   max-height: 200px;
   margin-top: 30px;
}

/* Dashboard */

#outer {
   margin-top: 20px;
}

#data-footer {
   color: white;
}

@media screen and (max-width: 768px){
   #ny-time-wrapper {
      display: none;
   }
}

.chart-wrapper .chart-title {
    font-size: 20px;
}

.dc-select-menu {
    width: inherit;
}

.dc-chart {
    width: -webkit-fill-available;
}

.selector {
    font-size: 30px;
}

.selector select {
    text-align-last: center;
}

.num-display {
   font-size: 30px;
}


#usd-donations {
   margin-left: 10px;
}

.dc-chart text.pie-slice {
    fill: grey;
}
/* Mission Page */

#mission-page ol {
    text-align: left;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#mission-page ul {
    text-align: left;
    background-color: rgba(200, 200, 200, 0.4);
    border-radius: 10px;
    margin-bottom: 20px;
}

#mission-page li {
    padding: 10px 0;
}

/* Contact Page */

#contact-page {
    padding: 0 100px;
}

#contact-content {
    font-size: 20px;
    margin-top: 40px;
}

#contact-list {
    margin-top: 30px;
    background-color: rgba(200, 200, 200, 0.5);
    border-radius: 10px;
    width: fit-content;
}

#contact-list li {
    opacity: 1;
    font-size: 25px;
}

.glyphicon {
    margin: 2px;
}